<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/4 md:w-1/2 p-4  ">
        <a routerLink="/sdetall1" class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/suntek/FOTO1.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Suntek-Carbon-5</h3>
          <a routerLink="/sdetall1"class="text-gray-900 title-font text-lg font-medium">SunTek Automotive Carbon Series 5 Carbon 60X100 </a>
          <!--p class="mt-1">$16.00</p-->
          <!--div class="mt-4 bg-center">
              <a href="shop-cart.html" class="py-2 px-5 inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center bg-blue-900 text-white rounded-md">Cotizar</a>    
          </div-->
          
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4  ">
        <a routerLink="/sdetall2"  class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/suntek/FOTO1.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Suntek-Carbon-18</h3>
          <a routerLink="/sdetall2" class="text-gray-900 title-font text-lg font-medium">SunTek Automotive Carbon Series 18 Carbon 60X100 </a>
         
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4  ">
        <a routerLink="/sdetall3" class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/suntek/FOTO1.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Suntek-CeramicIR-20</h3>
          <a routerLink="/sdetall3" class="text-gray-900 title-font text-lg font-medium">SunTek Automotive CeramicIR 20 Carbon 60X100</a>
         
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4  ">
        <a routerLink="/sdetall4"class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/suntek/FOTO1.png">
        </a> 
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Suntek-CeramicIR-5-BLACK</h3>
          <a routerLink="/sdetall4" class="text-gray-900 title-font text-lg font-medium">SunTek Automotive CeramicIR 5 Black 60X100 </a>
         
        </div>
      </div>
    
      <div class="lg:w-1/4 md:w-1/2 p-4  ">
        <a routerLink="/sdetall5" class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/suntek/FOTO1.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Suntek-CeramicIR-5-CARBON</h3>
          <a routerLink="/sdetall5"class="text-gray-900 title-font text-lg font-medium">SunTek Automotive CeramicIR 5 Carbon 60X100 </a>
          <!--p class="mt-1">$16.00</p-->
          <!--div class="mt-4 bg-center">
              <a href="shop-cart.html" class="py-2 px-5 inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center bg-blue-900 text-white rounded-md">Cotizar</a>    
          </div-->
          
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4  ">
        <a routerLink="/sdetall6"  class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/suntek/FOTO1.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Suntek-standard-20</h3>
          <a routerLink="/sdetall6" class="text-gray-900 title-font text-lg font-medium">SunTek Automotive Standard Series 20 Charcoal 60X100 </a>
         
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4  ">
        <a routerLink="/sdetall7" class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/suntek/FOTO1.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Suntek-CarbonXP-18</h3>
          <a routerLink="/sdetall7" class="text-gray-900 title-font text-lg font-medium">SunTek Automotive CarbonXP Series 18 Carbon 60X100</a>
         
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4  ">
        <a routerLink="/sdetall8"class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/suntek/FOTO1.png">
        </a> 
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Suntek-CarbonXP-5</h3>
          <a routerLink="/sdetall8" class="text-gray-900 title-font text-lg font-medium">SunTek Automotive CarbonXP Series 5 Carbon 60X100 </a>
         
        </div>
      </div>
    
      
   
   
      
    </div>
  </div>
</section>
<div class="grid md:grid-cols-12 grid-cols-1 mt-6">
  <div class="md:col-span-12 text-center">
      <nav aria-label="Page navigation example">
          <ul class="inline-flex items-center -space-x-px">
              <li>
                  <a aria-current="page" class="size-[40px] inline-flex justify-center items-center text-slate-400 bg-white dark:bg-slate-900 rounded-s-3xl hover:text-white border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">
                      <i data-feather="chevron-left" class="size-5 rtl:rotate-180 rtl:-mt-1"></i>
                  </a>
              </li>
              <li>
                  
                  <a aria-current="page" class="z-10 size-[40px] inline-flex justify-center items-center text-white bg-blue-500 border border-orange-500">1</a>

              </li>
             
              <li>
                  <a aria-current="page" class="size-[40px] inline-flex justify-center items-center text-slate-400 bg-white dark:bg-slate-900 rounded-e-3xl hover:text-white border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">
                      <i data-feather="chevron-right" class="size-5 rtl:rotate-180 rtl:-mt-1"></i>
                  </a>
              </li>
          </ul>
      </nav>
  </div><!--end col-->
</div><!--end grid-->


