
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4  ">
          <a routerLink="/HX20428B"  class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/WRAPS HEXIS/HX20428B/HX20428B.png">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">HX20428B</h3>
            <a routerLink="/HX20428B"  class="text-gray-900 title-font text-lg font-medium">Hexis Gloss Cloud Gray Vinyl Wrap | HX20428B</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4  ">
          <a routerLink="/HX20468B" class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/WRAPS HEXIS/HX20468B/HX20468B.png">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">HX20468B</h3>
            <a routerLink="/HX20468B" class="text-gray-900 title-font text-lg font-medium">Hexis Gloss Ivory Vinyl Wrap | HX20468B</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4  ">
          <a routerLink="/HX20613B" class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/WRAPS HEXIS/HX20613B/HX20613B.png">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">HX20613B</h3>
            <a routerLink="/HX20613B" class="text-gray-900 title-font text-lg font-medium">Hexis Gloss Fluorescent Yellow Vinyl Wrap | HX20613B</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4  ">
          <a routerLink="/HX20614B" class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/WRAPS HEXIS/HX20614B/HX20614B.png">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">HX20614B</h3>
            <a routerLink="/HX20614B" class="text-gray-900 title-font text-lg font-medium">Hexis Gloss Fluorescent Orange Vinyl Wrap | HX20614B</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4  ">
          <a routerLink="/HX20615B" class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/WRAPS HEXIS/HX20615B/HX20615B.png">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">HX20615B</h3>
            <a routerLink="/HX20615B" class="text-gray-900 title-font text-lg font-medium">Hexis Gloss Fluorescent Red Vinyl Wrap | HX20615B</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4  ">
          <a routerLink="/HX20890B" class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/WRAPS HEXIS/HX20890B/HX20890B.png">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">HX20890B</h3>
            <a routerLink="/HX20890B" class="text-gray-900 title-font text-lg font-medium">Hexis Gloss Deep Black Vinyl Wrap | HX20890B</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4  ">
          <a routerLink="/HX20890W" class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/WRAPS HEXIS/HX20890W/HX20890W.png">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">HX20890W</h3>
            <a routerLink="/HX20890W" class="text-gray-900 title-font text-lg font-medium">HX20890W</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4  ">
          <a routerLink="/HX20905M" class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/WRAPS HEXIS/HX20905M/HX20905M.png">
            </a>
            <div class="mt-4">
              <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">HX20905M</h3>
              <a routerLink="/HX20905M" class="text-gray-900 title-font text-lg font-medium">HX20905M</a>
            </div>
          </div>
      </div>
    </div>
  </section>
  <div class="grid md:grid-cols-12 grid-cols-1 mt-6">
    <div class="md:col-span-12 text-center">
        <nav aria-label="Page navigation example">
            <ul class="inline-flex items-center -space-x-px">
                <li>
                    <a routerLink="/hexisstore1" class="size-[40px] inline-flex justify-center items-center text-slate-400 bg-white dark:bg-slate-900 rounded-s-3xl hover:text-white border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">
                        <i data-feather="chevron-left" class="size-5 rtl:rotate-180 rtl:-mt-1"></i>
                    </a>
                </li>
                <li>
                    
                    <a routerLink="/hexisstore" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">1</a>

                </li>
                <li>
                    <a routerLink="/hexisstore1" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">2</a>

                </li>
                <li>
                    <a  aria-current="page" class="z-10 size-[40px] inline-flex justify-center items-center text-white bg-blue-500 border border-orange-500">3</a>

                </li>
                <li>
                    <a routerLink="/hexisstore3" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">4</a>
                </li>
                <li>
                    <a routerLink="/hexisstore4" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">5</a>
                </li>
                <li>
                    <a routerLink="/hexisstore3" class="size-[40px] inline-flex justify-center items-center text-slate-400 bg-white dark:bg-slate-900 rounded-e-3xl hover:text-white border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">
                        <i data-feather="chevron-right" class="size-5 rtl:rotate-180 rtl:-mt-1"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div><!--end col-->
</div><!--end grid-->
