<body>
    <section class="bg-white dark:bg-gray-900">
        <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
            <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">SunTek®</h2>
                <p class="mb-4">SunTek automotive window tint products are constructed with both time-tested and cutting-edge technologies. Most of these products are formulated to remain color stable and are backed by a manufacturer’s limited warranty with protection against color change</p>
           <p class="mb-4">SunTek automotive window tint is manufactured at our world-class facilities in Martinsville, Virginia, USA.
            
            SunTek continuously invests in a broad range of innovative production and manufacturing processes while our team of engineers and chemists continue to develop innovative window tint technology solutions.</p>
            </div>
            <div class="grid grid-cols-1 gap-2 mt-4 ">
                <img class="w-full rounded-lg" src="./assets/imagenes/suntek/FOTO2.png" alt="office content 1">
                  </div>
        </div>
    </section>
    


</body>


