<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css"  rel="stylesheet" />
  <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
  <script src="node_modules/flowbite/dist/flowbite.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
  <script src="node_modules/flowbite/dist/flowbite.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
  <script src="node_modules/flowbite/dist/flowbite.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
  <script src="node_modules/flowbite/dist/flowbite.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
  <script src="node_modules/flowbite/dist/flowbite.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
  <script src="node_modules/flowbite/dist/flowbite.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
  <script src="node_modules/flowbite/dist/flowbite.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
  <script src="node_modules/flowbite/dist/flowbite.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
  <script src="node_modules/flowbite/dist/flowbite.min.js "></script>
  <script>src="node_modules/flowbite" </script>    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</head>

<section class="text-gray-600 body-font">
  
          
    <video class="w-full h-auto max-w-full" autoplay loop>          
      <source src="/assets/imagenes/hexis/hexishome1.mp4" type="video/mp4">
      Your browser does not support the video tag.
              </video>

  
</section>


<!--Catalogo-->
<section class="text-gray-600 body-font">
  <div></div>
  <p></p>
    <div class="container px-5 py-24 mx-auto">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 text-center">Catalogo</h1>
 
      <div class="flex flex-wrap">

        <div class="xl:w-1/4 lg:w-1/2  px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <a routerLink="/suntek"  class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">PPF</a>
          <p class="leading-relaxed text-base mb-4"></p>
          <a routerLink="/suntek" class="text-indigo-500 inline-flex items-center">Ver Catalogo
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>


        <div class="xl:w-1/4 lg:w-1/2  px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <a routerLink="/hexisstore1" class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">WRAPS</a>
          <p class="leading-relaxed text-base mb-4"></p>
          <a routerLink="/hexisstore1" class="text-indigo-500 inline-flex items-center">Ver Caralogo
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="xl:w-1/4 lg:w-1/2 px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <a routerLink="/suntekstore" class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Polarizado Vehicular</a>
          <p class="leading-relaxed text-base mb-4"></p>
          <a routerLink="/suntekstore" class="text-indigo-500 inline-flex items-center">Ver Catalogo
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>

        <div class="xl:w-1/4 lg:w-1/2 px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <a routerLink="/teckwrap" class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Polarizado Arquitectónico</a>
          <p class="leading-relaxed text-base mb-4"></p>
          <a routerLink="/teckwrap" class="text-indigo-500 inline-flex items-center">Ver Catalogo
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        
        
      </div>
    </div>
  </section>



<!--Marcas-->
<section class="text-gray-600 body-font">
  <div></div>
  <p></p>
    <div class="container px-5 py-24 mx-auto">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 text-center">Marcas</h1>
 
      <div class="flex flex-wrap">

        <div class="xl:w-1/3 lg:w-1/2  px-8 py-6 border-l-2 border-gray-200 border-opacity-60 text-center" >
          <a routerLink="/suntek"  class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">SunTek®</a>
          <p class="leading-relaxed text-base mb-4">Automotive Tint</p>
          <a routerLink="/suntek" class="text-indigo-500 inline-flex items-center">Ver Mas
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>


        <div class="xl:w-1/3 lg:w-1/2  px-8 py-6 border-l-2 border-gray-200 border-opacity-60 text-center">
          <a routerLink="/hexis" class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Hexis®</a>
          <p><a routerLink="/hexisstore1" class="leading-relaxed text-base mb-4">WRAPS</a></p>
          <p><a routerLink="/hexisstore4" class="leading-relaxed text-base mb-4">ECOTAC PLUS </a></p>
          <p><a routerLink="/hexisstore6" class="leading-relaxed text-base mb-4">Cristal Escarchado  </a></p>
          <p><a routerLink="/hexisstore7" class="leading-relaxed text-base mb-4">Papel transfer  </a></p>

     


          <a routerLink="/hexishome" class="text-indigo-500 inline-flex items-center">Ver Mas
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="xl:w-1/3 lg:w-1/2 px-8 py-6 border-l-2 border-gray-200 border-opacity-60 text-center">
          <a routerLink="/teckwrap" class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Teckwrap®</a>
          <p class="leading-relaxed text-base mb-4">PPF</p>
          <a routerLink="/teckwrap" class="text-indigo-500 inline-flex items-center">Ver Mas
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>

       
        
        
      </div>
    </div>
  </section>


<!--Brands-->
  <section class="text-gray-600 body-font">
    <div></div>
    <p></p>
      <div class="container px-5 py-24 mx-auto">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 text-center">Catalogo</h1>
   
        <div class="flex flex-wrap">
  
          <div class="xl:w-1/4 lg:w-1/2  px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
            <a routerLink="/suntek"  class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">SunTek®</a>
            <p class="leading-relaxed text-base mb-4">Automotive Tint</p>
            <a routerLink="/suntek" class="text-indigo-500 inline-flex items-center">Ver Mas
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
  
  
          <div class="xl:w-1/4 lg:w-1/2  px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
            <a routerLink="/hexis" class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Hexis®</a>
            <p class="leading-relaxed text-base mb-4">WRAPS HEXIS</p>
            <a routerLink="/hexishome" class="text-indigo-500 inline-flex items-center">Ver Mas
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
          <div class="xl:w-1/4 lg:w-1/2 px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
            <a routerLink="/teckwrap" class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Teckwrap®</a>
            <p class="leading-relaxed text-base mb-4">PPF</p>
            <a routerLink="/teckwrap" class="text-indigo-500 inline-flex items-center">Ver Mas
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
  
          <div class="xl:w-1/4 lg:w-1/2 px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
            <a routerLink="/teckwrap" class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Teckwrap®</a>
            <p class="leading-relaxed text-base mb-4">PPF</p>
            <a routerLink="/teckwrap" class="text-indigo-500 inline-flex items-center">Ver Mas
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
          
          
        </div>
      </div>
    </section>


  <!--section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="flex w-full mb-20 flex-wrap">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 lg:w-1/3 lg:mb-0 mb-4">FILMTEC</h1>
        <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom.</p>
      </div>
      <div class="flex flex-wrap md:-m-2 -m-1">
        <div class="flex flex-wrap w-1/2">
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="/assets/imagenes/hexis/WRAPS HEXIS/HX30RGOM/HX30RGOM(1).jpg">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/501x301">
          </div>
          <div class="md:p-2 p-1 w-full">
            <img alt="gallery" class="w-full h-full object-cover object-center block" src="/assets/imagenes/teckwrap/teckwrap1.jpg">
          </div>
        </div>
        <div class="flex flex-wrap w-1/2">
          <div class="md:p-2 p-1 w-full">
            <img alt="gallery" class="w-full h-full object-cover object-center block" src="https://dummyimage.com/601x361">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/502x302">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/503x303">
          </div>
        </div>
      </div>
    </div>
  </section-->



  <section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">FILMTEC</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">You’ll be in good company</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/imagenes/teckwrap/teckwrap1.jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Shooting Stars</h1>
            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/imagenes/hexis/WRAPS HEXIS/HX20905M/HX20905M(1).jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/imagenes/hexis/WRAPS HEXIS/HX20613B/HX20613B.jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The 400 Blows</h1>
            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/imagenes/suntek/FOTO1.png">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Neptune</h1>
            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img  alt="gallery" class= "absolute inset-0 w-full h-full object-cover object-center" src="/assets/imagenes/hexis/WRAPS HEXIS/HX20R05B/HX20R05B(1).jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Holden Caulfield</h1>
            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/imagenes/suntek/FOTO2.png">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Alper Kamu</h1>
            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

 <!-- Start -->
 <section class="text-gray-600 body-font">
  
 
      <div class="grid grid-cols-1 text-center">
          <h3 class="font-semibold text-3xl leading-normal mb-4 text-black">End of Season Clearance <br> Sale upto 30%</h3>

          <p class="text-black/80 max-w-xl mx-auto">Upgrade your cars with......</p>

          <div class="mt-6">
              <a routerLink="/sales" class="py-2 px-5 inline-block font-semibold tracking-wide align-middle text-center bg-blue-950 text-white rounded-md"><i class="mdi mdi-cart-outline"></i> Ver Ofertas</a>
          </div>
      </div><!--end grid-->

</section><!--end section-->

