
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4  ">
          <a routerLink="/HX30BNCB" class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/WRAPS HEXIS/HX30BNCB/HX30BNCB.png">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">HX30BNCB</h3>
            <a routerLink="/HX30BNCB" class="text-gray-900 title-font text-lg font-medium">Hexis Gloss Nacre White Variochrome Vinyl Wrap | HX30BNCB</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4  ">
          <a routerLink="/HX30CANPEB" class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/WRAPS HEXIS/HX30CANPEB/HX30CANPEB.png">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">HX30CANPEB</h3>
            <a routerLink="/HX30CANPEB" class="text-gray-900 title-font text-lg font-medium">Hexis Ultra Gloss Petroleum Black Carbon Fiber Vinyl Wrap | HX30CANPEB</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4  ">
          <a routerLink="/HX30G446B"   class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/WRAPS HEXIS/HX30G446B/HX30G446B.png">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">HX30G446B</h3>
            <a routerLink="/HX30G446B"  class="text-gray-900 title-font text-lg font-medium">Hexis Gloss Chameleon Gray Vinyl Wrap | HX30G446B</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4  ">
          <a routerLink="/HX30RGOM" class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/WRAPS HEXIS/HX30RGOM/HX30RGOM.png">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">HX30RGOM</h3>
            <a routerLink="/HX30RGOM" class="text-gray-900 title-font text-lg font-medium">HX30RGOM</a>
            <p class="mt-1">$18.40</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4  ">
          <a routerLink="/HX30SCH03S" class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/WRAPS HEXIS/HX30SCH03S/HX30SCH03S.png">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">HX30SCH03S</h3>
            <a routerLink="/HX30SCH03S" class="text-gray-900 title-font text-lg font-medium">Hexis Satin Titanium Super Chrome Vinyl Wrap | HX30SCH03S</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4  ">
          <a routerLink="/HX30SCH07B"class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/WRAPS HEXIS/HX30SCH07B/HX30SCH07B.png">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">HX30SCH07B</h3>
            <a routerLink="/HX30SCH07B" class="text-gray-900 title-font text-lg font-medium">Hexis Gloss Gold Super Chrome Vinyl Wrap | HX30SCH07B</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4  ">
          <a routerLink="/HX30SCH12S" class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/WRAPS HEXIS/HX30SCH12S/HX30SCH12S.png">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">HX30SCH12S</h3>
            <a routerLink="/HX30SCH12S"class="text-gray-900 title-font text-lg font-medium">Hexis Satin Rose Gold Super Chrome Vinyl Wrap | HX30SCH12S</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4  ">
          <a routerLink="/HX20165B" class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/WRAPS HEXIS/HX20165B/HX20165B.png">
            </a>
            <div class="mt-4">
              <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">HX20165B</h3>
              <a routerLink="/HX20165B" class="text-gray-900 title-font text-lg font-medium">Hexis Gloss Mandarin Red Vinyl Wrap | HX20165B</a>
            </div>
          </div>
      </div>
    </div>
  </section>
  <div class="grid md:grid-cols-12 grid-cols-1 mt-6">
    <div class="md:col-span-12 text-center">
        <nav aria-label="Page navigation example">
            <ul class="inline-flex items-center -space-x-px">
                <li>
                    <a routerLink="/hexisstore" class="size-[40px] inline-flex justify-center items-center text-slate-400 bg-white dark:bg-slate-900 rounded-s-3xl hover:text-white border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">
                        <i data-feather="chevron-left" class="size-5 rtl:rotate-180 rtl:-mt-1"></i>
                    </a>
                </li>
                <li>
                    
                    <a routerLink="/hexisstore" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">1</a>

                </li>
                <li>
                    <a aria-current="page" class="z-10 size-[40px] inline-flex justify-center items-center text-white bg-blue-500 border border-orange-500">2</a>

                </li>
                <li>
                    <a routerLink="/hexisstore2" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">3</a>

                </li>
                <li>
                    <a routerLink="/hexisstore3" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">4</a>
                </li>
                <li>
                    <a routerLink="/hexisstore4" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">5</a>
                </li>
                <li>
                    <a routerLink="/hexisstore2" class="size-[40px] inline-flex justify-center items-center text-slate-400 bg-white dark:bg-slate-900 rounded-e-3xl hover:text-white border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">
                        <i data-feather="chevron-right" class="size-5 rtl:rotate-180 rtl:-mt-1"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div><!--end col-->
</div><!--end grid-->
