
<body>
    <section class="bg-white dark:bg-gray-900">
        <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
            <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Hexis®</h2>
                <p class="mb-4">The company specializes in high-performance self-adhesive cast PVC, polyurethane and latex films and offers highly innovative solutions for professionals of digital printing, signage, visual communication, vehicle wrapping and textile marking.</p>
                <p class="mb-4">Today, the market for adhesive films is diversifying rapidly. Customisation and made-to-measure tasks for our highly technical films are increasingly common. New markets are emerging, with the use of adhesive film in design, decoration and both interior and exterior design.</p>
            </div>
            <div class="grid grid-cols-1 gap-2 mt-4 ">
                <img class="w-full rounded-lg" src="./assets/imagenes/hexis/WRAPS HEXIS/HX20613B/HX20613B.jpg" alt="office content 1">
                  </div>
        </div>
    </section>
    


</body>

