

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
      

        <div class="lg:w-1/4 md:w-1/2 p-4  ">
            <a routerLink="/CC09"  class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/MetalCut/MC30-SILVERGLOSS.jpg">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">MC30</h3>
            <a routerLink="/CC09"  class="text-gray-900 title-font text-lg font-medium"> CutFlex MetalCut SILVER GLOSS </a>
          </div>
        </div>

        
        
        <div class="lg:w-1/4 md:w-1/2 p-4  ">
          <a routerLink="/CC10"  class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/MetalCut/MC50-REDGLOSS.jpg">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">MC50</h3>
          <a routerLink="/CC10"  class="text-gray-900 title-font text-lg font-medium"> CutFlex MetalCut RED GLOSS</a>
        </div>
      </div>
       
      <div class="lg:w-1/4 md:w-1/2 p-4  ">
        <a routerLink="/CC11"  class="block relative h-48 rounded overflow-hidden">
        <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/MetalCut/MC90-BLACKGLOSS.jpg">
      </a>
      <div class="mt-4">
        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1"> MC90</h3>
        <a routerLink="/CC11"  class="text-gray-900 title-font text-lg font-medium"> CutFlex MetalCut BLACK GLOSS </a>
      </div>
    </div>

    <div class="lg:w-1/4 md:w-1/2 p-4  ">
      <a routerLink="/CC12"  class="block relative h-48 rounded overflow-hidden">
      <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/MetalCut/MC60-ROSEGOLDGLOSS.jpg">
    </a>
    <div class="mt-4">
      <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">MC60</h3>
      <a routerLink="/CC12"  class="text-gray-900 title-font text-lg font-medium"> CutFlex MetalCut ROSE GOLD GLOSS </a>
    </div>
  </div>



  <div class="lg:w-1/4 md:w-1/2 p-4  ">
    <a routerLink="/CC05"  class="block relative h-48 rounded overflow-hidden">
    <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/colorcut/CC07-GREEN.jpg">
  </a>
  <div class="mt-4">
    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CC07</h3>
    <a routerLink="/CC05"  class="text-gray-900 title-font text-lg font-medium"> CutFlex ColorCut GREEN</a>
  </div>
</div>


<div class="lg:w-1/4 md:w-1/2 p-4  ">
  <a routerLink="/CC06"  class="block relative h-48 rounded overflow-hidden">
  <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/colorcut/CC08-RED.jpg">
</a>
<div class="mt-4">
  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CC08</h3>
  <a routerLink="/CC06"  class="text-gray-900 title-font text-lg font-medium"> CutFlex ColorCut RED</a>
</div>
</div>


<div class="lg:w-1/4 md:w-1/2 p-4  ">
  <a routerLink="/CC07"  class="block relative h-48 rounded overflow-hidden">
  <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/colorcut/CC09-YELLOW.jpg">
</a>
<div class="mt-4">
  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CC09</h3>
  <a routerLink="/CC07"  class="text-gray-900 title-font text-lg font-medium"> CutFlex ColorCut YELLOW</a>
</div>
</div>


<div class="lg:w-1/4 md:w-1/2 p-4  ">
  <a routerLink="/CC08"  class="block relative h-48 rounded overflow-hidden">
  <img alt="ecommerce" class="object-cover object-center   h-full block" src="/assets/imagenes/hexis/MetalCut/MC20-GOLDGLOSS.jpg">
</a>
<div class="mt-4">
  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">MC20</h3>
  <a routerLink="/CC08"  class="text-gray-900 title-font text-lg font-medium"> CutFlex MetalCut GOLD GLOSS</a>
</div>
</div>
        
     

     
        



    
    </div>
    </div>
  
    
  </section>
  <div class="grid md:grid-cols-12 grid-cols-1 mt-6">
    <div class="md:col-span-12 text-center">
        <nav aria-label="Page navigation example">
            <ul class="inline-flex items-center -space-x-px">
                <li>
                    <a  class="size-[40px] inline-flex justify-center items-center text-slate-400 bg-white dark:bg-slate-900 rounded-s-3xl hover:text-white border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">
                        <i data-feather="chevron-left" class="size-5 rtl:rotate-180 rtl:-mt-1"></i>
                    </a>
                </li>
                <li>
                    
                    <a routerLink="/hexisstore7" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">1</a>

                </li>
                <li>
                    
                  <a routerLink="/hexisstore8" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">2</a>

              </li>
                
               
                
                <li>
                    <a routerLink="/hexisstore8" class="size-[40px] inline-flex justify-center items-center text-slate-400 bg-white dark:bg-slate-900 rounded-e-3xl hover:text-white border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">
                        <i data-feather="chevron-right" class="size-5 rtl:rotate-180 rtl:-mt-1"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div><!--end col-->
</div><!--end grid-->
