
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
        <img alt="feature" class="object-cover object-center" src="/assets/imagenes/hexis/WRAPS HEXIS/HX20890B/HX20890B.png">
        <img alt="feature" class="object-cover object-center" src="/assets/imagenes/hexis/WRAPS HEXIS/HX20890B/HX20890B(1).jpg">
 
          
    
      </div>
  
      
    <!--Detlle-->
      <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
        <div class="flex flex-col mb-10 lg:items-start items-left">
          <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M20 10H4v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8ZM9 13v-1h6v1a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>
              <path d="M2 6a2 2 0 0 1 2-2h16a2 2 0 1 1 0 4H4a2 2 0 0 1-2-2Z"/>
            </svg>
            
          </div>
          <div class="flex-grow text-left">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Código de producto: HX20890B </h2>
            <p class="leading-relaxed text-base">Color: Negro   </p>
            <p class="leading-relaxed text-base">Acabado: Brillo  </p>
            <p class="leading-relaxed text-base">Tipo de película: Fundición multicapa   </p>
            <p class="leading-relaxed text-base">Espesor: 3,94 - 4,33 mil (0,1 - 0,11 mm)  </p>
            <p class="leading-relaxed text-base">Vida útil: Hasta 6 Años</p>
            
          </div>
        </div>
        <div class="flex flex-col mb-10 lg:items-start items-center">
          <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <circle cx="6" cy="6" r="3"></circle>
              <circle cx="6" cy="18" r="3"></circle>
              <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Aplicación</h2>
            <p class="text-justify">
                Adhesivo: Activado por presión (deslizable, reposicionable), aire Revestimiento antiadherente con adhesivo HEX'PRESS.
                Conformabilidad: Curvas compuestas planas, simples y moderadas, superficies convexas y cóncavas, remaches, corrugaciones, canales y huecos profundos.
                Usos recomendados: Rotulaciones para automóviles, rotulaciones para camiones, rotulaciones para furgonetas, rotulaciones para autobuses, rotulaciones para motocicletas, rotulaciones para barcos, rotulaciones para motos acuáticas, rotulaciones para vehículos todo terreno. , rotulación de UTV, rotulación de lado a lado, rotulación de carritos de golf, rotulación de emblemas, rotulación de capó, rotulación de techo, rotulación de remolques, rotulación de armas, rotulación de muebles, rotulación de electrodomésticos, rotulación de dispositivos electrónicos y cualquier superficie no porosa. También se puede utilizar para hacer calcomanías, franjas, letras de vehículos, gráficos de vehículos y mucho más.
                Tamaño máximo del rollo: 5 pies (60 pulgadas) (152,4 cm) x 81 pies (27 yardas) (24,7 m)
  
            </p>
            
          </div>
        </div>
        <!--div class="flex flex-col mb-10 lg:items-start items-center">
          <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Neptune</h2>
            <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
            <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div-->
      </div>
    </div>
  </section>

