
<body>
    <section class="bg-white dark:bg-gray-900">
        <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
            <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Teckwrap®</h2>
                <p class="mb-4">TeckWrap began as a vision and passion of international auto enthusiasts from the US and Europe. Started in Baltimore, Maryland, USA in 2012, it has been developing fast since then.
                </p>
                <p class="mb-4">The TeckWrap 180 series is our first product line that includes simple yet attractive colors. It's a hybrid polymeric film recommended for smooth and middle-curve surfaces. The launch of the TeckWrap 190 series of gloss, matte, and chameleon metallic colors suitable for full vehicle wrapping pushed up sales in 2016. It drew interest from our customers around the world.</p>
            </div>
            <div class="grid grid-cols-1 gap-2 mt-4 ">
                <img class="w-full rounded-lg" src="./assets/imagenes/teckwrap/teckwrap1.jpg" alt="office content 1">
                  </div>
        </div>
    </section>
    


</body>


