<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col">
       
       
      </div>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center" src="/assets/imagenes/suntek/suntek.png">
          </div>
          <a routerLink="/suntek" class="text-xl font-medium title-font text-gray-900 mt-5">Suntek®</a>
          <p class="text-base leading-relaxed mt-2">La película protectora de pintura SunTek protege contra la mayoría de los peligros de la carretera que experimenta para ayudar constantemente a mantener el acabado original de su automóvil.

          </p>
          <a routerLink="/suntek" class="text-indigo-500 inline-flex items-center mt-3">Ver Mas
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <a routerLink="/hexishome">
            <img alt="content" class="object-cover object-center h-full w-full" src="/assets/imagenes/hexis/hexislogo.jpg">
          </a>
          </div>
          <a routerLink="/hexishome" class="text-xl font-medium title-font text-gray-900 mt-5">Hexis®</a>
          <p class="text-base leading-relaxed mt-2">La empresa se especializa en películas autoadhesivas de alto rendimiento de PVC fundido, poliuretano y látex y ofrece soluciones altamente innovadoras para profesionales de la impresión digital, señalización, comunicación visual, rotulación de vehículos y marketing textil.

          </p>
          <a routerLink="/hexishome" class="text-indigo-500 inline-flex items-center mt-3">Ver mas
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center " src="/assets/imagenes/teckwrap/teckwrap.png">
          </div>
          <a routerLink="/teckwrap" class="text-xl font-medium title-font text-gray-900 mt-5">Teckwrap®</a>
          <p class="text-base leading-relaxed mt-2">TeckWrap se especializa en películas envolventes autoadhesivas sensibles a la presión y ha sido pionera en su propio proceso para producir películas de vinilo de alto rendimiento para la industria automotriz.

          </p>
          <a routerLink="/teckwrap" class="text-indigo-500 inline-flex items-center mt-3">Ver Mas
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>